* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

code {
  font-family: "PT Mono", monospace;
}

/* unset styling from primsjs theme (set in gatsby-browser.js) */
:not(pre) > code[class*="language-"] {
  background: transparent !important;
  padding: unset !important;
}

a {
  color: #117cad;
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

th {
  width: 0;

  text-align: left;
}

th:last-child {
  width: 100%;
}
