init-scope: berry

npm-publish-access: public

plugins:
  - scripts/plugin-exec.js
  - scripts/plugin-stage.js
  - scripts/plugin-typescript.js
  - scripts/plugin-version.js
  - scripts/plugin-workspace-tools.js

yarn-path: ./scripts/run-yarn.js
