/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

:root {
  --index-navbar-margin-top: 0px;

  --art-width: 1920;
  --art-height: 1308;
}

@media (min-width: 996px) {
  :root {
    --index-navbar-margin-top: 40px;
  }

  .html :global(.navbar) {
    margin-top: var(--index-navbar-margin-top);
  }

  .html:not(:global(.navbar--is-fixed)) :global(.navbar) {
    --ifm-navbar-link-color: #ffffff;
    --ifm-navbar-link-hover-color: var(--ifm-navbar-link-color);

    background: none;
    box-shadow: none;
  }

  .html:not(:global(.navbar--is-fixed)) :global(.navbar) svg {
    opacity: .8;
  }

  .html:not(:global(.navbar--is-fixed)) :global(.navbar .navbar__logo) {
    filter: none;
  }
}

.reserve {
  position: relative;

  display: flex;
  align-items: flex-start;

  min-height: calc(100vh - var(--ifm-navbar-height));

  padding: 20px;

  background-image: url(/img/yarn-hero-transparent.webp);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom left;

  color: #ffffff;
}

.reserve::before {
  position: absolute;
  content: "";

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;

  background: linear-gradient(180deg, rgba(9,11,31,0) 0%, rgba(9,11,31,0) 95%, rgba(9,11,31,1) 100%);

  pointer-events: none;
}

@media (min-width: 996px) {
  .reserve {
    align-items: center;

    margin-top: calc((var(--index-navbar-margin-top) + var(--ifm-navbar-height)) * -1);

    min-height: 100vh;

    padding: 100px;

    background-position: bottom calc(var(--art-height) / var(--art-width) * 100vw * -0.1) left;
  }
}

@media (min-width: 996px) {
  .hero {
    max-width: 800px;
  }
}

@media (min-width: 300px) {
  .hero {
    --ifm-h1-font-size: 3rem;
  }
}

@media (min-width: 380px) {
  .hero {
    --ifm-h1-font-size: 4rem;
  }
}

.hero p {
  margin: 30px 0;
}

.versions {
  margin: 30px 0;

  font-size: 15px;
  font-weight: normal;

  line-height: 1.5;
}

@media (min-width: 996px) {
  .versions {
    display: inline-block;

    margin: 0;
    margin-left: 30px;
  }
}

.versionLine {
  display: flex;
}

.channel {
  width: 50px;

  font-weight: bold;
}

.search {
  display: flex;

  margin: 30px 0;

  border: 1px solid #9555bb;
  border-radius: 10px;
  outline: none;

  width: 100%;
  padding: 20px;

  background: #090b1f80;
  color: #ffffff;

  font-family: inherit;
  font-size: inherit;
  font-style: italic;
}

@media (min-width: 996px) {
  .search {
    margin: 60px 0;
  }
}

.search::placeholder {
  color: #ffffff;
}

.followUp {
  background: #090b1f;
  color: #ffffff;
}

.info {
  border-radius: 8px;

  padding: 1rem;

  border: 1px solid white;
  background: #000000cc;
  color: #ffffff;

  --ifm-link-color: #5cb0fa;
}

@media (min-width: 996px) {
  .info {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 11;

    max-width: 600px;

    opacity: 1;

    transition: opacity 0.3s ease-in-out;
  }

  :global(html.navbar--is-fixed) .info {
    opacity: 0;
  }
}
