.html {
  --ifm-menu-link-padding-vertical: .6rem;
}

.html [class~="menu__link--active"]:not(:hover) {
  background: transparent;
}

.html [class~="menu"] a svg:not([role="img"]) {
  display: none;
}

.fileHtml [class~="container"] {
  padding: 0 !important;
}

.fileContent {
  margin: 0 !important;
}

.reportTable {
  margin: 50px 0 !important;
}

.reportTable td:nth-of-type(1) {
  width: 0;
}

.reportLabel {
}

.reportDetails {
  margin-top: 10px;

  font-size: .8rem;
}

.reportCheckContainer {
  display: flex;

  width: 45px;
}

.reportCheckContainer > * {
  margin: auto;
}

.reportCheckSuccess {
  color: green;
}

.reportCheckFailure {
  color: red;
}

.entry {
  display: flex;
  align-items: center;
}

.entry svg {
  margin-right: 10px;
}
