.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  padding: 40px 0;
}

.icon {
  margin-bottom: 40px;

  width: 200px;

  object-fit: contain;
  object-position: center center;
}
